PORT=8000
DATABASE_URL=mongodb://localhost:27017/headshotpro
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

JWT_ACCESS_SECRET=dev_access_secret
JWT_REFRESH_SECRET=dev_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d